body{
   margin:0px;
   padding:0px;
}

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


.form-container{
    width:90%;
 max-width: 800px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin-top: 80px;
    flex-direction: column;

    min-width: fit-content;
    height: auto;
    min-height: fit-content;
    margin-bottom: 40px;
     box-shadow: 0 2px 4px rgba(125, 116, 116, 0.2);
}


#form{
    width:90%;
    min-width: fit-content;
    height:90%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;

   
}

#form input, textarea{
    margin:0px;
    padding:0px;
    width: 100%;
    max-width: 600px;
    min-height:50px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    border:none;
   box-shadow: 0 2px 4px rgba(125, 116, 116, 0.2);
   padding:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form input:focus{
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.1);
}


textarea.content{
    min-height: 200px;
    resize: vertical;
}

.submit-btn{


     background-color: #061E29;
    color:white;
    font-size: 20px;
    cursor: pointer;
   
    
}
.submit-btn:hover{
     background-color: #26282f;
   
     color:#a8adb0;
}

#error{
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-top:1rem;
}