
html{
    font-size: 62.5%;
}

.editPost-title{
    width:90%;
    margin:auto;
    margin-top:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    
}
.editPost-innerDiv{

    width:90%;
    margin: auto;
}

#error{
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-top:1rem;
}