* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin:0px;
    padding:0px;
}

.posts-container{


    background-color:#e7edf4;
    width:90%;
    max-width: 1400px;

    margin:4rem auto;

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
     padding:2rem;
     gap:2.5rem;



}

.postCard{
    min-height: 30%;
    border-radius: 12px;
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    flex-basis: 30%;
    flex-grow:1;
    flex-shrink:0;
  
    color:#3a424a;
    background-color: #fefffe;
     box-shadow: 0 2px 4px rgba(125, 116, 116, 0.2);
    cursor: pointer;
    overflow: hidden;

}
.post-texts h2{
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:100%;


    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.post-texts p{

    font-size: 1.6rem;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Cut off after 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.post-texts small{
    width:50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-texts{
    width:100%;
    
    height: auto;
    min-height: fit-content;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:20px;
}


.readMoreBtn-div{
    width:100%;
    min-width: fit-content;
    height: 40%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.8rem;
    flex-wrap: wrap;


}

.delete-btn{
    background-color: red;
    color:white !important;
}
.edit-btn{
    text-decoration: none;
     text-align: center; 
     line-height: 3rem;
     background-color:cornflowerblue;
     color:white !important;

}


.read{

       text-decoration: none;
     text-align: center; 
     line-height: 3rem;
     background-color:cornflowerblue;
     color:white !important;
}



.home-title{
    width:90%;
    margin:auto;
    margin-top:2rem;
    color:#252c39;
    font-size:2.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.read-btn{
    width:12rem;
    height:3rem;
    border:none;
    border-radius: 0.5rem;
    color:#455059;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}
.read-btn:hover{
    background-color: #d1d9e3;
}
.postCard:hover{
    box-shadow: 0 4px 8px rgba(125, 116, 116, 0.4);
   
}



@media screen and (max-width: 768px) {


    html{
        font-size: 50%;
    }


    .post-texts h2{
       max-width: fit-content;
    }

    .readMoreBtn-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .readMoreBtn-div form {
        width: 100%;
    }
    
    .read-btn{
        width:100%;
    }
    .postCard{
            flex-basis: 100%;
    }
}