*{
    margin:0px;
    padding:0px;
      box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    background-color: #26282f;
   
  
}
nav ul{
    width:100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{

    height:50px;
}
nav a{
    height:100%;
    padding:0 30px;
    text-decoration: none;

    display: flex;
    align-items: center;
    color:#a8adb0;
    font-size:18px;

}

nav a:hover{
    background-color: grey;
}


.title{
    margin-right: auto;

  

}

.title a{
 padding: 0; 
    margin: 0;
}


.sidebar{
    position: fixed;
    top:0;
    right:0;

    height:100vh;
    width:250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: transparent;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;

}




.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}


.menu-button{
    display: none;
}


.logo{
    width:50px;
    height:100%;
}

@media screen and (max-width:800px){

    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    
}

@media screen and (max-width: 400px){

    .sidebar{
        width:100%;
    }
   

}



/* footer styles */ 

.footer {
    background-color: #26282f; 
    color: #a8adb0;
    padding: 20px;
    
    
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: auto;
}