html{
    font-size: 62.5%;
}
body{
    background-color: #e8e9e8 !important;
}

.readContainer{


    max-width: 1100px;
    width: 90%;
   
    background-color: #fffeff !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    margin-top: 4rem;
    gap:4rem;

    height:auto;
    padding:2rem;
    text-align: left;
}

.post-title{
    max-width: 90%;
}

.post-title h1{
     font-size: 5rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-time{
     max-width: 90%;
}
.post-time h4{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.post-content{
    max-width: 90%;
}

.post-content p{
    font-size: 1.4rem;
    color:#8e8f8e  !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
}
.post-content small{
    font-size: 1rem;
}
.post-time small{
    font-size: 1rem;
}


.read-btn{
    width:90%;
}
.btn-r{


    width:15rem;
    height:auto;
    border: 4px;
    padding:1rem;
    background-color: #282829;
    color:#fff;
    cursor: pointer;
    font-size: 1.5rem;


}

@media (max-width: 768px) {
    html{
     
        font-size: 50%; 
    }
    .btn-r{

        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    html{
     
        font-size: 43.75%; 
    }

     .btn-r{

        font-size: 1.3rem;
    }
}